.carousel-slider {
    height: 90vh !important;
}

.axis-vertical {
    display: flex;
    justify-content: center;
}



.control-dots .dot {
    background-color: white !important;
    opacity: 1 !important;
}

.control-dots .selected {
    background-color: rgb(0, 102, 255) !important;
}

.sliderImg {
    object-fit: cover;
}